/*Mobile and tablet size, Portrait*/
@media (max-width:500px) and (orientation:Portrait){
    body{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    Header{
        margin: 0px;
        padding: 0px;
        background-color: blue;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    
    Header h1{
        text-transform: uppercase;
        font-weight: 1000;
        font-size: 10vw;
        flex: 1 1 auto;
        margin: 10px;
        align-self: center;
    }
    
    header h2{
        text-transform: uppercase;
        font-weight: 740;
        flex: 1 1 auto;
        font-size: 4vw;
        margin: 10px ;
    }
    
    .PageWrapper{
        flex-direction: column;
        flex: 1 1 auto;
        display: flex;
        width: 100%;
    }
    
    #CompNav{
        flex-direction: column;
        background-color: yellow;
        flex: 0 0 auto;
        display: flex;
    }
    
    #CompNav h3{
        align-self: center;
        font-size: 20px;
        margin: 10px 0px;
    }
    
    #NavList{
        margin: 0px;
        padding: 0px;
        font-size: 25;
        display: table;
        width: 100%;
        list-style-type: none;
    }
    
    #NavList > li{
        margin: 0px;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 15px;
    }
    section{
        background-color: green;
        flex: 1 1 auto;
    }
    
    article{
        margin: 10px;
    }
    
    article p{
        
    }
    
    aside{
        background-color: hotpink;
        flex: 1 1 auto;
    }
    
    .EmployeeInfo{
        flex: 1 1 auto;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    
    .EmployeePic{
        height: 50vw;
        width: 50vw;
    }
    
    .EmployeeInfoText{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 10px;
    }
    
    .NameTitle{
        
    }
    
    .NameTitle h4{
        margin: 10px 0px;
        font-size: 4vw;
    }
    
    .TitleList{
        list-style-type: none;
        padding: 5px;
        margin: 0px;
    }
    
    .TitleList li{
        font-size: 4vw;
    }
    
    .Merits{
        position: absolute;
        bottom: 0px;
    }
    
    .Merits h4{
        margin: 10px 0px;
        font-size: 4vw;
    }
    
    .MeritsList{
        margin: 0px;
        padding: 0px 0px 0px 30px;
    }
    
    .MeritsList li{
        font-size: 4vw;
    }
    
    footer{
        background-color: red;
        flex: 0 0 auto;
    }
    footer p{
        font-size: 30px;
    }
    
}


/*Computer size*/
@media (min-width:501px){
    body{
        min-width: 1200px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    header{
        background-color: blue;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
    }
    
    header h1{
        font-size: 5vw;
        margin: 10px;
    }
    header h2{
        font-size: 1.5vw;
        margin: 2.6vw 10px;;
        
    }
    
    .PageWrapper{
        flex: 1 1 auto;
        display: flex;
        width: 100%;
    }
    
    #CompNav{
        background-color: yellow;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    #CompNav h3{
        margin: 10px 0px;
    }
    
    #NavList{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 10px 0px;
        padding: 0px;
        
    }

    
    .EmployeeInfo{
        flex: 0 0 3000px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    .EmployeeInfoText{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .EmployeePic{
        border-right: 1px solid black;
        width: 200px;
        height: 200px;
    }
    .NameTitle{

    }
    .NameTitle ul{
        list-style-type: none;
        padding: 5px;
        margin: 0px;
    }
    .Merits{
        position: absolute;
        bottom: 0px;
    }
    .merits ul{
        margin: 0px;
        padding: 0px 0px 0px 30px;
    }
    .EmployeeInfoText h4{
        margin: 5px;

    }

    section{
        background-color: green;
        flex: 1 1 auto;
    }
    article{
        
        margin: 10px;
    }
    aside{
        background-color: hotpink;
        flex: 0 0 auto;

    }
    footer{
        background-color: red;
        flex: 0 0 auto;
    }
}

