body{
    font-family: sans-serif;
}
.EmployeeInfo{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.EmployeeInfoText{
    display: flex;
    flex-direction: column;
    position: relative;
}
.EmployeePic{
    border-right: 1px solid black;
    width: 200px;
    height: 200px;
}
.NameTitle{
    
}
.NameTitle ul{
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}
.Merits{
    position: absolute;
    bottom: 0px;
}
.merits ul{
    margin: 0px;
    padding: 0px 0px 0px 30px;
}
.EmployeeInfoText h4{
    margin: 5px;
    
}